<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Регистрация</h2>
    <form method="POST">
        <label for="lastname">Фамилия:</label>
        <input type="text" name="lastname" id="lastname" required><br>

        <label for="firstname">Имя:</label>
        <input type="text" name="firstname" id="firstname" required><br>

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required><br>

        <label for="driver_license">Водительские права:</label>
        <input type="text" name="driver_license" id="driver_license" required><br>

        <label for="password">Пароль:</label>
        <input type="password" name="password" id="password" required><br>

        <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html>
